@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap:wght@400;700");

/* ==========================================================================
      General
========================================================================== */
:root {
  --color-border-input: #ccc;
  --color-dark: #343a40;
  --color-semi-dark: #424649;
  --color-white: #fff;
}
body {
  background-color: #f8f9fa !important;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
}
.text-right {
  text-align: right;
}
.semi-bold {
  font-weight: 600;
}
.max-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mr-5 {
  margin-right: 5px;
}
.categoy-tag {
  background-color: var(--color-semi-dark);
  color: var(--color-white);
  border-radius: 0.375rem;
  padding: 7px;
  font-size: 14px;
}


